<style>
  :root {
    --footer-height: 500px;
  }

  footer {
    background-color: var(--color-b-d);
    position: fixed;
    bottom: 0;
    height: var(--footer-height);
    width: 100vw;
  }

  footer nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--space-sm)
  }

  footer .history ul {
    grid-template-columns: 1fr 1fr;
    display: grid;
    grid-gap: 0 var(--space-sm);
    grid-template-rows: 1fr 1fr 1fr;
  }

  footer nav ul {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  footer h4 {
    font-weight: bold;
  }

  main {
    margin-bottom: var(--footer-height);
    min-height: 90vh;
  }

  footer * {
    color: var(--color-t-l);
    max-width: 1080px;
  }

  footer .bottom {
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr))
  }
</style>
<footer>
  <nav>
    <div>
      <h4>Capabilities (Home)</h4>
      <ul>
        <li>Skills</li>
        <li>Featured Work</li>
        <li>Resume (PDF) <br> Last Updated 2023-07-03 </li>
      </ul>
    </div>
    <div class="history">
      <h4>History</h4>
      <ul>
        <li>Client Work / Hubspot</li>
        <li>Client Work / Moonrise Labs</li>
        <li>Client Work / Lee law Offices</li>
        <li>Client Work / Big Data Insure</li>
        <li>Sketchpad</li>
      </ul>
    </div>

    <div>
      <h4>Aspirations</h4>
      <li>Career Goals</li>
      <li>Mission</li>
    </div>
    <div>
      <svg xmlns="http://www.w3.org/2000/svg" width="33" height="33" viewBox="0 0 33 33" fill="none">
        <g clip-path="url(#clip0_71_126)">
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M17.8707 14.821V14.7728C17.8608 14.7889 17.8472 14.8051 17.8386 14.821H17.8707Z" fill="black" />
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M0 0V33H33V0H0ZM10.2642 27.4155H5.36819V12.6855H10.2642V27.4155ZM7.81621 10.675H7.78387C6.14148 10.675 5.07692 9.54353 5.07692 8.12924C5.07692 6.68391 6.1726 5.58447 7.84827 5.58447C9.52431 5.58447 10.5543 6.68391 10.5863 8.12924C10.5863 9.54353 9.52431 10.675 7.81621 10.675ZM27.9231 27.4155H23.0257V19.5349C23.0257 17.5556 22.3182 16.2045 20.5457 16.2045C19.192 16.2045 18.3876 17.1142 18.0332 17.9954C17.9044 18.3101 17.8708 18.7477 17.8708 19.1891V27.4156H12.9725C12.9725 27.4156 13.0381 14.0674 12.9725 12.6856H17.8708V14.7728C18.5216 13.7714 19.6829 12.3398 22.2845 12.3398C25.5074 12.3398 27.9231 14.4445 27.9231 18.9686V27.4155Z"
            fill="#FCFBF4" />
        </g>
        <defs>
          <clipPath id="clip0_71_126">
            <rect width="33" height="33" fill="white" />
          </clipPath>
        </defs>
      </svg>
    </div>
  </nav>

  <div class="bottom">
    <div class="colophon">
      {% renderFile "./src/_includes/components/colophon.md" %}
    </div>
    <div class="logo">
      {%- include "components/signature.svg"-%}
    </div>
  </div>

  <!-- {% include 'components/sitemap.njk' %} -->

</footer>