<style>
  :root {
    --footer-height: 500px;
  }

  footer {
    background-color: var(--color-b-d);
    position: fixed;
    bottom: var(--space-xs);
    height: var(--footer-height);
    width: 100vw;
    display: grid;
    place-content: center;
  }

  footer nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--space-sm)
  }

  footer .history ul {
    grid-template-columns: 1fr 1fr;
    display: grid;
    grid-gap: 0 var(--space-sm);
    grid-template-rows: 1fr 1fr 1fr;
  }

  footer .history ul li:first-child {
    grid-column: 1/-1;
  }

  footer nav ul {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  footer h4 {
    font-weight: bold;
  }

  main {
    margin-bottom: calc(var(--footer-height) + var(--space-sm));
    min-height: 90vh;
  }

  footer * {
    color: var(--color-t-l);
    max-width: 1080px;
  }

  footer .bottom {
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr))
  }

  footer .logo {
    display: grid;
    place-content: center end;
  }

  footer .logo svg {
    width: 250px;
  }

  .colophon a {
    text-decoration: underline;
    text-decoration-line: dotted;
    text-decoration-style: dotted;
  }
</style>
<footer>
  <nav>
    <div>
      <ul>
        <li>
          <h4>
            <a href="">
              Capabilities (Home)
            </a>
          </h4>
        </li>
        <li>
          <a href="/#skills">
            Skills
          </a>

        </li>
        <li>
          <a href="/#featured-work">
            Featured Work
          </a>
        </li>
      </ul>
    </div>
    <div class="history">
      <ul>
        <li>
          <h4>
            <a href="/work">
              Work
            </a>
          </h4>
        </li>
        <li>
          <a href="/client-work/hubspot">
            Client Work / Hubspot
          </a>
        </li>
        <li>
          <a href="/client-work/moonrise-labs">
            Client Work / Moonrise Labs
          </a>
        </li>
        <li>
          <a href="/client-work/lee-law-offices">
            Client Work / Lee law Offices
          </a>
        </li>
        <li>
          <a href="/client-work/bdi-global-llc">
            Client Work / BDI Global LLC
          </a>
        </li>
      </ul>
    </div>

    <div>
      <ul>
        <li>
          <h4>
            <a href="/aspirations">
              Aspirations
            </a>
          </h4>
        </li>
        <li>
          <a href="/aspirations/#career-goals">
            Career Goals
          </a>
        </li>
        <li>
          <a href="/aspirations/#personal-mission">
            Personal Mission
          </a>
        </li>
      </ul>
    </div>
    <div>
      <ul>
        <li>
          <h4>Contact</h4>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/earl-justin-mangulabnan-5b0740109/">LinkedIn</a>
        </li>
      </ul>
      <!-- {%- include "components/icon-linkedin.svg" -%} -->
    </div>
  </nav>

  <div class="bottom">
    <div class="colophon markdown-content">
      {% renderFile "./src/_includes/components/colophon.md" %}
    </div>
    <div class="logo">
      {%- include "components/signature.svg"-%}
    </div>
  </div>
</footer>