<style>
  footer {
    background-color: var(--color-b-d);
    position: fixed;
    bottom: 0;
    height: 300px;
    width: 100vw;
  }

  main {
    margin-bottom: 300px;
    min-height: 90vh;
  }

  footer * {
    color: var(--color-t);
  }
</style>
<footer>


  {% include 'components/sitemap.njk' %}

</footer>