<style>
  :root {
    --color-b-d: #373131;
    --color-b-l: #FCFBF4;
    --color-t-l: #D4CBC4;
    --color-t-d: # #000000;
    --header-height: 75px;
  }

  header {
    background-color: var(--color-b-d);
    width: 100vw;
    position: fixed;
    height: var(--header-height);
    box-shadow: 0px -15px 35px -15px rgb(0, 0, 0) inset, 0px -1px 1px 1px rgb(0, 0, 0) inset, 0px 0px 1px 0px rgb(0, 0, 0) inset;
    z-index: 0;
    padding: var(--space-2xs) var(--space-md) var(--space-2xs) var(--space-sm);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header nav ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
    place-items: center;
  }

  header .nav_item {
    padding: var(--space-xs);
  }

  header .nav_item:hover {
    color: var(--color-a);
  }

  header .nav_item.active {
    font-weight: bold;
    text-decoration: underline;
  }

  header * {
    color: var(--color-t-l);
  }

  main {
    background-color: var(--color-b-l);
    width: 100vw;
    position: relative;
    z-index: 1;
    margin-top: var(--header-height);
  }


  @media (max-width: 600px) {
    :root {}

    header {
      padding-left: var(--space-2xs);
      padding-right: var(--space-2xs);
    }

    header nav ul {
      gap: var(--space-3xs);
    }

    header .logo {
      width: 110px;
      margin-left: -15px;
      rotate: -52deg;
    }

    nav .nav_item {
      padding: var(--space-2xs);
      padding-right: var(--space-xs);
    }
  }

  @media (min-width: 500px) {
    header .logo {
      rotate: 0deg;
      margin-left: var(--space-xs);
    }
  }
</style>
<header>
  <a href="/" class="logo">
    {%- include "components/signature.svg"-%}
  </a>
  <nav>
    <ul>
      <li><a class="nav_item {{ 'active' if 'capabilities' in page.fileSlug }}" href="/">Capabilities</a></li>
      <li><a class="nav_item {{ 'active' if 'work' in page.fileSlug }}" href="/work">Work</a></li>
      <li><a class="nav_item {{ 'active' if 'aspirations' in page.fileSlug }}" href="/aspirations">Aspirations</a></li>
    </ul>
  </nav>

</header>