<style>
  :root {
    --color-b-d: #373131;
    --color-b-l: #FCFBF4;
    --color-t: #D4CBC4;

    --header-height: 75px;
  }


  header {
    background-color: var(--color-b-d);
    width: 100vw;
    position: fixed;
    height: var(--header-height);
    box-shadow: 0px -15px 35px -15px rgb(0, 0, 0) inset, 0px -1px 1px 1px rgb(0, 0, 0) inset, 0px 0px 1px 0px rgb(0, 0, 0) inset;
    z-index: 0;
    padding: var(--space-2xs) var(--space-md) var(--space-2xs) var(--space-sm);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


  nav ul {
    display: flex;
    gap: var(--space-md);
  }

  header * {
    color: var(--color-t);
  }

  main {
    background-color: var(--color-b-l);
    width: 100vw;
    position: relative;
    z-index: 1;
    margin-top: var(--header-height);
  }
</style>
<header>

  {%- include "components/signature.svg"-%}
  <nav>
    <ul>
      <li>Work</li>
      <li>Capabilities</li>
      <li>Aspirations</li>
    </ul>
  </nav>
</header>