<style>
   .hero-text {
      max-width: var(--left-margin);
   }

   .hero-text p {
      margin-bottom: var(--space-sm);
      font-family: "Alegreya Sans";
   }

   .hero-text h3 {
      color: var(--color-t7);
      font-weight: 500;
      font-family: "Alegreya Sans";
      font-size: var(--d-lg);
   }

   .hero-text .fstext {
      text-decoration: underline 2px var(--color-t5);
   }

   .hero-text p {
      z-index: 101;
   }

   #line-end {
      /*block elements are too wide*/
      display: inline;
      /*repositions end of line*/
      padding-right: var(--space-xs);
   }

   .leader-line {
      /*opacity: 0;*/
      z-index: 100;
   }

   #leader-line-1-line-path {
      stroke-dasharray: 300px;
      stroke-dashoffset: 300px;
      /*      width: 100%;
      height: 100%;
  */
   }
</style>

<div class="hero-text">
   <p>
      My name is Earl Justin Mangulabnan.<br>
      I design and develop <span class="fstext hover-target">frontend <span id="line-start"></span>systems</span>.
   </p>
   <p>
      I like when things are<br>
      built well &amp; built for everybody.
   </p>
   <div class=" hover-target" id="par2">
      <h3 id="line-end">What do I mean?</h3>
      <p>
         Good web development means<br>
         more than a pretty site.
      </p>
      <p>
         It means maintainable code, <br>
         meaningful designs,<br>
         clean architecture,<br>
         well-defined processes, and<br>
         stellar communication.<br>
         A lofty ideal, I know.<br>
      </p>

   </div>
</div>

<script>
   function animateLine1() {


      let t2 = gsap.timeline();
      let anim = t2.to("#leader-line-1-line-path", {
         strokeDashoffset: "1px",
         opacity: 1,
         duration: 1.5, // Animation duration in seconds
         ease: "power2.out"
      }).to(".hover-target", {
         opacity: 1,
         ease: "power2.out"
      }, "-=1.2").pause()

      const animationTargets = document.getElementsByClassName("hover-target")

      for (let target of animationTargets) {
         target.addEventListener('mouseover', function () {
            anim.play()
         });
         target.addEventListener('mouseout', function () {
            console.log(document.getElementById("par2").opacity)
            anim.reverse()
         });
      }

      // This is better implemented with GSAP scroll triggers

      // play animation on scroll on mobile
      if (window.innerWidth < 600) {
         document.addEventListener("scroll", function () {
            anim.play()
         })

         // reverse animation when user is at the top
         window.addEventListener('scroll', function () {
            if (window.scrollY < 50) {
               anim.reverse()
            }
         });

      }



      // display paragraph only after everything's loaded
      // don't change opacity on safari bc it doesn't render the strokewidth animation on LeaderLines

      // Usage
      if (!isSafari()) {
         document.getElementById("par2").style.opacity = "var(--opacity-light)"
      }

      function isSafari() {
         return /^((?!chrome|android).)*safari/i.test(navigator.userAgent);
      }
   }

</script>