<style>
  .hero-text {}

  .hero-text p {
    margin-bottom: var(--space-sm);
    font-family: "Alegreya Sans";
  }

  .hero-text h2 {
    color: #B8A89C;
    font-weight: 700;
    font-family: "Alegreya Sans";
    font-size: var(--d-md);
  }
</style>

<div class="hero-text">
  <p>
    My name is Earl Justin Mangulabnan.<br>
    I design and develop frontend systems.
  </p>
  <p>
    I like when things are<br>
    built well & built for everybody.
  </p>
  <h2>What do I mean?</h2>
  <p>
    Good web development means<br>
    much more than a pretty site.
  </p>
  <p>
    It means maintainable code, meaningful designs,<br>
    clean architecture,<br>
    well-defined processes, and<br>
    stellar communication.<br>
    A lofty ideal, I know,<br>
    but that just makes it the<br>
    best place to aim.<br>
  </p>

</div>