<div id="solids-container">
  <canvas id="zdog-canvas">
</div>
<style>
  #solids-container {
    position: relative;
    outline: 1px solid var(--color-outline);
    top: 2px;
    height: 100%;
  }

  #c {
    height: 100%;
    width: 100%;
  }
</style>
<script>


  function drawShapes() {
    // Made with Zdog

    // create illo
    const illo = new Zdog.Illustration({
      // set canvas with selector
      element: '#zdog-canvas',
    });

    // circle
    new Zdog.Ellipse({
      addTo: illo,
      diameter: 80,
      // position closer
      translate: { z: 40 },
      stroke: 20,
      color: '#636',
    });

    // square
    new Zdog.Rect({
      addTo: illo,
      width: 80,
      height: 80,
      // position further back
      translate: { z: -40 },
      stroke: 12,
      color: '#E62',
      fill: true,
    });

    function animate() {
      illo.rotate.y += 0.03;
      illo.updateRenderGraph();
      requestAnimationFrame(animate);
    }
    // start animation
    animate();

  }

</script>
<script src="/libraries/zdog.dist.min.js" onload="drawShapes()"></script>