<style>
  .threads-logo {
    max-width: 2rem;
    height: 100%;
  }

  .threads-link {
    height: 1rem;
    display: flex;
    place-items: center;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    gap: 0.5rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
    border: 1px solid;
  }
</style>

<a href="https://www.threads.net/@justin.speaking" class="threads-link" target="_blank">
  <img src="https://upload.wikimedia.org/wikipedia/commons/9/9d/Threads_%28app%29_logo.svg" class="threads-logo" />
  <span username="">justin.speaking</span>
</a>