<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <title>{{ title }}</title>
   <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.2/dist/gsap.min.js"></script>
   <link href="{{ '/assets/fonts/alegreya-sans/latin.css'}}" rel="stylesheet">
   <link href="{{ '/assets/fonts/fraunces/index.css'}}" rel="stylesheet">
   <link rel="stylesheet" href="{{ '/styles/index.css' }}" />
</head>

{%- include "components/header.njk"-%}
{%- include "components/skillstable.webc"-%}

<body class="{{ page.fileSlug }}">
   <main>
      <div class="content">{{ content | safe }}</div>
   </main>
</body>

{%- include "components/footer.njk" -%}

</html>