---
layout: layouts/_base.njk
---


<!-- Hero -->

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Alegreya:wght@500&family=Playfair+Display&display=swap"
  rel="stylesheet">

{%- include "components/platonic-solids.njk" -%}
</script>