---
layout: layouts/_base.njk
---
<style>
   .work {
      --max-width: 1440px;
      --display-text-height: 35vh;
   }

   .work {
      max-width: var(--max-width);
      padding-left: var(--space-md);
      padding-right: var(--space-md);
   }

   .work .title-c {
      display: grid;
      align-content: flex-end;
      margin-left: calc(-1 * var(--space-xs));
   }

   .work .title-c h1 {
      font-variation-settings: "WONK" 0, "opsz" 100, "SOFT" 0, "wght" 800;
      margin-top: var(--space-2xl);
      margin-bottom: var(--space-md);
      line-height: 1.1;
      color: var(--color-t5);
      font-size: 30vh;
   }

   .work .overview {
      max-width: 50ch;
      margin-bottom: var(--space-md);
      font-size: var(--d-lg);
      color: var(--color-t3);
   }

   .work .markdown-content {
      max-width: var(--max-width);
   }

   .work .back {
      text-align: right;
      margin-top: var(--space-md);
   }

   .work .content {
      grid-template-columns: 25% 50% 25%;
   }
</style>

<section class="work">


   <div class="title-c">
      <h1 class="display-text">
         {{ title }}
      </h1>
   </div>

   <div class="overview">
      {{overview}}
   </div>

   <!-- <div class="back">
      <a href="/work">⬅ Back to portfolio</a>
   </div> -->

   <!-- <div>
      {%- for item in tech -%}
      {{item.name}}
      {{item.link}}
      {%- endfor -%}
   </div> -->

   <div class="markdown-content content">
      <!-- <div class="links">
         <a href="{{ url | url }}" target="_blank">{% indieAvatar url %}Website</a>
         {%- if (urlGithub) and (not urlGithubPrivate) -%}
         <a href="{{ urlGithub | url }}" target="_blank">{% indieAvatar "https://github.com/" %}Github{{ urlGithub | log
            }}</a>
         {%- endif -%}
      </div> -->
      {{ content | safe }}
   </div>
   {{githubData}}
</section>