---
layout: layouts/_base.njk
---

<div class="work">
   <a href="/portfolio">⬅ Back to portfolio</a>

   <div class="screenshot-container">{% getScreenshotHtml url %}</div>

   <div class="links">
      <a href="{{ url | url }}" target="_blank">Website</a>
      {%- if (urlGithub) and (not urlGithubPrivate) -%}
      <a href="{{ urlGithub | url }}" target="_blank">Github{{ urlGithub | log }}</a>
      {%- endif -%}
   </div>
   <div class="markdown-content">
      {{ content | safe }}
   </div>
   <hr />
   <div class="github">
      <h2>Unformatted Data:</h2>
      <div>
         <h3>Repository Languages</h3>
         <p>
            <!-- see work/work.11tydata.js -->
            {{ githubData }}
         </p>
      </div>
   </div>
</div>
