---
layout: layouts/_base.njk
title: Aspirations

script1: "http://d3js.org/d3.v3.min.js"
script2: "http://d3js.org/topojson.v1.min.js"
script3: "https://github.com/BinaryMuse/planetary.js/releases/download/v1.1.2/planetaryjs.min.js"
---

<script src="{{ script1 }}"></script>
<script src="{{ script2 }}"></script>
<script src="{{ script3 }}"></script>

<style>
  .aspirations {
    width: 100vw;
    margin-bottom: var(--space-2xl);
  }

  #career-goals {
    max-width: 800px;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    margin-top: var(--space-2xl);
    margin-bottom: var(--space-2xl);
  }

  #career-goals>p {
    width: 100%;
    max-width: unset;
    text-align: center;
    margin-bottom: var(--space-xs);
  }

  #career-goals>h2 {
    text-align: center;
  }

  #cg-text {
    columns: 2;
    gap: var(--space-sm);
  }

  .personal-mission {
    --text-max-width: 25em;
    font-size: var(--d-lg);
    color: #492306;
    width: 100%;
    grid-template-columns: minmax(10%, 60%) minmax(300px, 90%);
    display: grid;
    gap: var(--space-md)
  }

  .personal-mission .markdown-content {
    grid-column: 2;
    max-width: 600px;
    border: 1px solid var(--color-b2);
    padding: var(--space-md);
    margin-right: var(--space-md);
  }

  #planet-container {
    min-width: 600px;
    justify-self: flex-end;
    width: 90%;
    margin-left: var(--space-md);
  }

  .subtitle {
    font-family: var(--font-secondary);
    font-style: italic;
    font-size: var(--d-md);
    color: var(--color-t1);
    font-variation-settings: "opsz" 17, "WONK" 0, "SOFT" 0;
    font-weight: 348;
  }
</style>

<div class="aspirations">

  <section>

    <div id="career-goals">
      <h2>Career Goals</h2>
      <p class="subtitle">Updated: {{ goalsLastUpdated }}</p>
      <div id="cg-text">

        {% renderFile "./src/_includes/components/career-goals.md" %}
      </div>
    </div>
  </section>

  <section id="persional-mission" class="personal-mission">
    <div id="planet-container">
      {% include "components/planet.webc" %}
      <ejm-planet></ejm-planet>
    </div>

    <div class="markdown-content">
      {% renderFile "./src/_includes/components/personal-mission.md" %}
    </div>
  </section>
</div>