---
layout: layouts/_base.njk
---

<style>
  .aspirations {
    width: 100vw;
  }

  .personal-mission {
    border: 1px solid var(--color-b2);
    padding: var(--space-sm);
    font-size: var(--d-lg);
    color: #492306;
    --text-max-width: 25em;
  }
</style>

<div class="aspirations">

  <section id="career-goals">

  </section>

  {% include "components/planet.webc" %}
  <ejm-planet></ejm-planet>

  <section id="persional-mission" class="personal-mission markdown-content">
    {% renderFile "./src/_includes/components/personal-mission.md" %}
  </section>
</div>