---
layout: layouts/_base.njk
permalink: "index.html"
title: Home
---

<style>
  .capabilities {
    --left-margin: 300px;
  }

  .capabilities {
    padding: var(--space-lg);
    width: 100vw;
  }

  .skills {
    height: 600px;
    display: flex;
    gap: var(--space-sm);
    margin-top: var(--space-xl);
    margin-left: var(--left-margin);
  }

  @media (max-width: 900px) {
    .capabilities {
      padding: var(--space-sm);
    }
  }

  .featured-work {
    display: grid;
    grid-template-columns: var(--left-margin) auto;
  }

  h2 {
    font-variation-settings: "WONK" 0, "opsz" 77, "SOFT" 0, "wght" 363;
    font-size: 40px;
    letter-spacing: -0.08rem;
    line-height: 1;
    color: var(--color-t6);
  }
</style>

<div class="capabilities">

  {%include "components/hero.njk"%}

  <section id="skills" class="skills">
    <json-table src="/data/skills.json" path="lang_frame" no-headers></json-table>
    <json-table src="/data/skills.json" path="tools_apps" no-headers></json-table>
  </section>

  <section id="featured-work" class="featured-work">

    <h2>Featured<br>Work</h2>
    <!-- Show Featured Work (based on frontmatter tag) -->
    <div>
      {%- for project in collections.project -%}
      {%- if project.data.tags.includes('featured') -%}
      <a href="{{ project.filePathStem }}">
        <ticker-message speed="50" content="{{project.data.title}}"
          style="height: 300px;font-size: 200px;margin-bottom:var(--space-md)"></ticker-message>
      </a>

      <!-- <a class="project-link" href="{{ project.filePathStem }}">
        <div>
          <div class="caption">featured work</div>
          <div class="project">
            <h3 class="title">
              {{ project.data.title }}
            </h3>
            <h4 class="headline">
              {{ project.templateContent | getHeadline }}
            </h4>
            <p class="summary">
              {{ project.templateContent | getSummary }}
            </p>
          </div>
        </div>
      </a> -->
      {%- endif -%}
      {%- endfor -%}
    </div>


  </section>
</div>