---
layout: layouts/_base.njk
permalink: "index.html"
title: Home
---

<style>
  .capabilities {
    --left-margin: 300px;
  }

  .capabilities {
    padding: var(--space-lg);
    width: 100vw;
  }

  .skills {
    height: 600px;
    display: flex;
    gap: var(--space-sm);
    margin-left: var(--left-margin);
  }

  .skills-container {

    margin-top: var(--space-xl);
  }

  @media (max-width: 900px) {
    .capabilities {
      padding: var(--space-sm);
    }
  }

  .featured-work {
    display: grid;
    grid-template-columns: var(--left-margin) auto;
  }

  .skills h2 {
    width: 300px;
  }

  .goals {
    max-width: 300px;
    padding-right: var(--space-md);
  }

  .goals h2 {
    margin-bottom: var(--space-xs)
  }

  .goals a {
    text-decoration: underline;
    font-weight: 500;
    color: var(--color-t2);
  }

  .goals-text {
    margin-bottom: var(--space-sm);
  }

  .goals .cta {
    text-align: right;
  }
</style>

<div class="capabilities">

  {%include "components/hero.njk"%}

  <section class="goals">
    <h2>Goals</h2>
    <p class="goals-text">A this point in my career, I’m looking to build more experience working on the team. I want to
      take on bigger
      projects with bigger clients, and I won’t be able to do that alone.</p>
    <p class="cta">
      <a href="/aspirations">Read More</a>
    </p>
  </section>

  <section class="skills-container">
    <h2>Skills</h2>
    <div class="skills">
      <json-table src="/data/skills.json" path="lang_frame" no-headers></json-table>
      <json-table src="/data/skills.json" path="tools_apps" no-headers></json-table>
    </div>
  </section>

  <section id="featured-work" class="featured-work">

    <h2>Featured<br>Work</h2>
    <!-- Show Featured Work (based on frontmatter tag) -->
    <div>
      {%- for project in collections.project -%}
      {%- if project.data.tags.includes('featured') -%}
      <a href="{{ project.filePathStem }}">
        <ticker-message speed="50" content="{{project.data.title}}"
          style="height: 300px;font-size: 200px;margin-bottom:var(--space-md)"></ticker-message>
      </a>

      <!-- <a class="project-link" href="{{ project.filePathStem }}">
        <div>
          <div class="caption">featured work</div>
          <div class="project">
            <h3 class="title">
              {{ project.data.title }}
            </h3>
            <h4 class="headline">
              {{ project.templateContent | getHeadline }}
            </h4>
            <p class="summary">
              {{ project.templateContent | getSummary }}
            </p>
          </div>
        </div>
      </a> -->
      {%- endif -%}
      {%- endfor -%}
    </div>


  </section>
</div>