---
layout: layouts/portfolio.njk
title: Work
---

<style>
  .work-item h2 {
    font-size: 12vh;
    color: var(--color-t5);
    font-variation-settings: "WONK" 0, "opsz" 100, "SOFT" 0, "wght" 800;
    text-decoration: none;
    /*display: none;*/
  }
</style>

<div>
  {%- for work in collections.sortedWork -%}
  <div class="work-item">
    <a class="work-item-link" href="{{ work.url }}">
      <h2>{{ work.data.title }}</h3>
        <!-- <svg viewBox="0 0 1200 300"> -->

        {#
        <svg>
          <symbol id="{{ work.fileSlug }}">
            <text text-anchor="start" x="" y="80%" dy="10%" class="text-copy">
              {%- if work.data.displayTitle -%}
              {{ work.data.displayTitle | safe }}
              {%- else -%}
              {{ work.data.title }}
              {%- endif -%}
            </text>
          </symbol>

          <g class="g-ants">
            <use xlink:href="#{{ work.fileSlug }}"></use>
          </g>
        </svg> #}
    </a>
  </div>
  {%- endfor -%}
</div>